<!--Przedmioty-->
<div *ngFor="let group of generalStudyData" id="subjects">
  <div class="spacer"></div>
  <div class="text flexblock flex-column no-margin m-b-0 m-t-0 title-panel">
    <div class="center flexblock m-b-0 m-t-0 full-width greybg flex-column">
      <div class="flexblock flex-column full-width">
        <h2 class="header-font subject-title-content">PRZEDMIOTY</h2>
        <div class="title-underline"></div>
      </div>
      <div class="flexblock full-width">
        <div class="flexblock spec-choose-panel-right no-border no-padding">
          <app-degree
            content="I stopień"
            activeGroupClass="bachelor"
            dynamicClass="{{activeGroupClass}}">
          </app-degree>
        </div>
        <div class="flexblock spec-choose-panel-right no-border no-padding">
          <app-degree
            content="II stopień"
            activeGroupClass="master"
            dynamicClass="{{activeGroupClass}}">
          </app-degree>
        </div>
      </div>
    </div>
    <!-- specialization start -->
    <div class="flexblock flex-row study-spec-title m-t-0 m-b-0 full-width">
      <div class="flexblock spec-choose-panel-left">
        <app-specialization
          (onGroupandSpec)="setGroupAndSpec($event)"
          content="{{generalStudyData[0].specialization[0].name}}"
          groupId="2"
          specId="0"
          activeGroupClass="bachelor"
          activeSpecClass="iz1"
          dynamicClass="{{activeSpecClass}}">
        </app-specialization>
        <app-specialization
          (onGroupandSpec)="setGroupAndSpec($event)"
          content="{{generalStudyData[0].specialization[1].name}}"
          groupId="2"
          specId="1"
          activeGroupClass="bachelor"
          activeSpecClass="sin1"
          dynamicClass="{{activeSpecClass}}">
        </app-specialization>
      </div>
      <div class="flexblock spec-choose-panel-right">
        <app-specialization
          (onGroupandSpec)="setGroupAndSpec($event)"
          content="{{generalStudyData[0].specialization[2].name}}"
          groupId="2"
          specId="2"
          activeGroupClass="master"
          activeSpecClass="sit2"
          dynamicClass="{{activeSpecClass}}">
        </app-specialization>
        <app-specialization
          (onGroupandSpec)="setGroupAndSpec($event)"
          content="{{generalStudyData[0].specialization[3].name}}"
          groupId="2"
          specId="3"
          activeGroupClass="master"
          activeSpecClass="sin2"
          dynamicClass="{{activeSpecClass}}">
        </app-specialization>
      </div>
    </div>
    <!-- specialization end -->
  </div>
  <!--<h1 class="subjects-title header-font">Przedmioty</h1>-->
  <div class="subjects-panel">
    <div class="flexblock flex-row subjects-container">
      <div *ngIf="activeSpecId == 0 || activeSpecId == 1" class="column-container">
        <h1 class="header-medium-font subject-underline text-center">PODSTAWOWE</h1>
        <div class="flexblock flex-wrap flex-row">
          <div *ngFor="let subject of generalSubjects" class="item">
            <div  class="img-position m-t-0">
              <div class="flexblock">
                <p class="subjects-name content-small-font">{{subject.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-container">
        <h1 class="header-medium-font subject-underline text-center">KIERUNKOWE</h1>
        <div *ngIf="activeSpecId == 0 || activeSpecId == 1" class="flexblock flex-wrap flex-row">
          <div *ngFor="let subject of coreSubjectBachelorDegree" class="item">
            <div  class="img-position m-t-0">
              <div class="flexblock">
                <p class="subjects-name content-small-font">{{subject.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeSpecId == 2 || activeSpecId == 3" class="flexblock flex-wrap flex-row">
          <div class="flexblock flex-wrap flex-row">
            <div *ngFor="let subject of coreSubjectMasterDegree" class="item">
              <div  class="img-position m-t-0">
                <div class="flexblock">
                  <p class="subjects-name content-small-font">{{subject.name}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-container">
        <h1 class="header-medium-font subject-underline text-center">SPECJALNOŚCIOWE</h1>
        <div *ngFor="let subject of group.specialization[activeSpecId].subjects" class="item">
          <div class="img-position m-t-0">
            <div class="flexblock">
              <p class="subjects-name content-small-font">{{subject.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
