#homepage{
    height: 100vh;
    background: url("../../assets/images/zdjecie-bartek.png") fixed;
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.cloud{
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0px;
    height: 100vh;
}


#homepage h1{
    padding: 0px;
    margin: 100px 0px 0px 10vw;
    font-weight: normal;
    color: white;
    font-size: 8vw;
    max-height: 60vh;
}

#homepage h1 .green{
    color: #88B04B;
}

#homepage .hom-text{
    color: white;
    margin-left: 37vw;
    padding-right: 3vh;
    max-height: 30vh;
}

.thin-font {
  font-weight: 100;
  font-family: 'Montserrat', sans-serif, thin;
}

.hom-scroll{
    height: 10vh;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    text-align: center;
}

#homepage .hom-scroll .homepage-seemore{
    height: 10vh;
    width: 20vh;
    margin: 0px;
}

@media(max-width: 800px){
    #homepage h1{
        font-size: 90px;
        margin: 5vh 0px 10vh 5vw;
    }

    #homepage .hom-text{
        font-size: 13px;
        margin-left: 0vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media(max-width: 670px){
   #homepage h1{
    font-size: 60px;
   }
}
