<section id="stuff">
  <div class="container">

    <div class="stuff">

      <img src="./assets/images/materialy.png">


      <div class="flex">
        <h1 class="header-font"> Materiały</h1>
      </div>

      <br>

    </div>
    <article class="materials-description content-medium-font">
      Studenci informatyki stosowanej mają możliwość pobrania darmowych pięciu podręczników napisanych przez wykładowców Uniwersytetu Ekonomicznego w Krakowie. Dotyczą one sporej części przedmiotów, jakie są prowadzone na tym kierunku.

      (Ponadto dostępne są materiały z przedmiotów matematycznych, w formie notatek z regułkami i zadaniami - unijne.)
    </article>
  </div>

</section>
