#stuff {
  height: 100vh;
  background-color: #e0dfdf;
  padding-top: 10vh;
}
.stuff {

    display: flex;
    flex-direction: row;
    font-size: 30pt;
     height: 100%;
     width:100%;
     margin: 0;

}
.container {
    width:100%;
    margin:0;
}
img{
    float: left;
    height: 105px;
    margin-right: 50px;
    margin-left: 10%;
    margin-top: 5%;
 }

h1{
    margin-top:20%;
    color: black;
    border-bottom: solid;
    border-color: #93b658;
}
.flex   /*pudelko dostajace wielkosc img'a  */
{
clear:both;
}

.page {
    height: 93vh;
}

.materials-description {
    background-color: #e0dfdf;
    height: 70vh;
    font-size: 3vh;
    padding: 0 20vh 0 42vh;
}

@media only screen and (max-width: 734px){
.stuff{flex-direction: column;
}
}

@media(max-width: 800px){
    .materials-description {
        padding: 3vh;
    }
}


