@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.fl {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #272727;
}

.item1 {
  order: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20vh;
}



.rekrut-nap {
  align-self: center;
  text-align: center;
  width: 50%;
  border-bottom: 1px solid #88b04b;
}

.rekrut-nap>p {
  color: white;
  letter-spacing: 3px;
  font-weight: 400;
}

.item2 {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.rekrut-txt {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding: 3vh;
}

.rekrut-txt>p {
  color: #88b04b;
}

.item3 {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  height: 20vh;
}

.rek1 {
  order: 1;
  padding: 2vh 7vh 2vh 7vh;
  margin: 3vh 3vh 0.5vh 3vh;
  text-align: center;
  font-weight: 800;
  background-color: white;
  color: #272727;
  border: 3px solid white;
  border-radius: 6px;
}

.rek2 {
  order: 2;
  padding: 2vh 7vh 2vh 7vh;
  margin: 3vh 3vh 0.5vh 3vh;
  font-weight: 800;
  text-align: center;
  background-color: #88b04b;
  color: #272727;
  border: 3px solid #88b04b;
  border-radius: 6px;
}

.rek1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.rek2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.stacjo {
  display: flex;
  flex-direction: column-reverse;
}

.niestacjo {
  display: flex;
  flex-direction: column-reverse;
}

.stacjo-txt {
  text-align: center;
  color: white;
}

.niestacjo-txt {
  text-align: center;
  color: #88b04b;
}

@media screen and (max-width: 800px) {
  .fl {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #272727;
  }
  .item1 {
    order: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
  }
  .item2 {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .rekrut-nap>p {
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
  }
  .rekrut-txt {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
    align-self: center;
  }
  .rekrut-txt>p {
    color: #88b04b;
    text-transform: uppercase;
  }
  .item3 {
    order: 3;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20vh;
  }
  .rek1 {
    order: 1;
    display: flex;
    flex-direction: row;
    padding: 1vh 3vh 1vh 3vh;
    margin: 1vh;
    text-align: center;
    background-color: white;
    color: #272727;
    border: 3px solid white;
    border-radius: 6px;
    font-weight: 600;
  }
  .rek2 {
    order: 2;
    padding: 1vh 3vh 1vh 3vh;
    margin: 1vh;
    text-align: center;
    background-color: #88b04b;
    color: #272727;
    border: 3px solid #88b04b;
    border-radius: 6px;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .fl {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #272727;
    height: 56vh;
  }
  .item1 {
    order: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
  }
  .item2 {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .item3 {
    order: 3;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20vh;
  }
  .rekrut-nap>p {
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
  }
  .rekrut-txt>p {
    text-transform: uppercase;
  }
  .rekrut-txt {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
    align-self: center;
  }
  .rekrut-txt>p {
    text-transform: uppercase;
  }
  .rek1 {
    order: 1;
    display: flex;
    flex-direction: row;
    padding: 1vh;
    margin: 0.5vh;
    text-align: center;
    background-color: white;
    color: #272727;
    border: 1px solid white;
    border-radius: 6px;
    font-weight: 600;
  }
  .rek2 {
    order: 2;
    padding: 1vh;
    margin: 0.5vh;
    text-align: center;
    background-color: #88b04b;
    color: #272727;
    border: 1px solid #88b04b;
    border-radius: 6px;
    font-weight: 600;
  }
}
