img {
    vertical-align: middle;
    width: 100%;
    max-width: 30vh;
}

.logo-container {
    margin-top: 10vh;
}

.logo-group-responsive {
    max-height: 126px;
    width: auto;
    margin: auto;
}

#science-group{

    width: 100%;
}

.sg{
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size:2.5vh;
    min-height: 100%;
}
 .sg p{
     padding:2.5%;
 }

.text{
    color:#525051;
    font-family: 'Montserrat', sans-serif;
    font-size:30pt;
    text-align: left;
    padding: 4%;
    padding-top: 11vh;
}

.text a {
    color: #525051;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5vh;
}
.text a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #6fa56f;
}
.lightgreybg{
    background-color: #e0dfdf;
    min-height :100%;
}
/*  do zrobienia tło */

.group-description {
/*    font-size: 3vh; */
    padding: 20vh;
}
@media(max-width: 800px){

  .text a {
      font-size: 2.5vh;
  }

  .group-description {
    font-size: 2vh;
    padding: 7vh;
    display: flex;
  }

  .sg {
      display: none;
  }

  .lightgreybg {
      height: 100vh;
  }
}
