<div id="science-group">
  <div *ngFor="let group of groups">
    <div class="row no-margin lightgreybg" *ngIf="group.id != activeGroupId">
      <div *ngIf="group.id == 1" class="col-md-2 grey-background img-position green-border-right sg">
        <div class="row logo-container col-xs-12">
          <img src="{{group.logoUrl}}" class="img-responsive logo-group-responsive">
          <p class="content-medium-font">{{group.name}}</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-10 green-background text lightgreybg">
        <div class="col-xs-12 center flexblock">
          <a class="header-font" (click)="setActiveGroup(2);">Koło Naukowe Informatyki</a>
          <a class="header-font" (click)="setActiveGroup(1);">Koło Naukowe >DEV</a>
        </div>
        <p class="group-description content-medium-font">{{group.description}}</p>
      </div>
      <div *ngIf="group.id == 2" class="col-md-2 grey-background img-position green-border-left sg">
        <div class="logo-container">
          <img src="{{group.logoUrl}}" class="img-responsive logo-group-responsive">
          <p class="content-medium-font">{{group.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
