body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

.grey-background{
    background-color: #525051;
    height: 100vh;
}

.green-border-right{
    border-right: 10px solid #88B04B;
}

.green-border-left{
    border-left: 10px solid #88B04B;
}

.center{
    text-align: center;
}

.img-position{
    text-align: center;
}

img{
    margin-top:25px;
    max-width: 25vh;
    text-align: center;
}

.spinner-container {
    display: flex;
    width: 100%;
    height: 700px;
}

.spinner {
    z-index: 9999;
    margin: auto;
    font-size: 100px;
    text-align: center;
}
